
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
  background-color:#48a9e4;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}

/* Modifications by Kin Salayon */
#header
{
    margin-top:60px;
}

#header div.section
{
    background-color:#FFFFFF;
    padding: 0 21px !important;
}

#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer
{
    padding: 0 21px !important;
    width: 918px !important;
}

#featured .section
{
    background-color:#FFFFFF !important;
}

.without-secondary-menu .region-header
{
    margin-top:0px;
    margin-right:0px;
}


#page
{
     background: url(../../../sites/default/files/bg-pixels.jpg)  50% 0% repeat-x transparent !important;
}

#page-wrapper, #footer-wrapper
{
    background-color:#FFFFFF !important;
}

#footer-wrapper
{
    padding-top:0px;
}

#footer li a
{
    color:#000000;
    border-right:thin solid #000000 !important;
}

#footer li a:hover
{
    color:#DDDDDD;
}

#centrum-footer .wrapper .copy
{
    color:#000000;
}

.section
{
    padding:0 !important;
}

#main-wrapper
{
    background-color:transparent !important;
}

#block-block-1
{
    margin-top:10px;
    z-index:2;
    position:relative;
}

#block-block-2
{
    margin-top:-130px;
    z-index:1;
    position:relative;
}

/* Modifications by Kin Salayon */
#header
{
    margin-top:60px;
}

#header div.section
{
    background-color:#FFFFFF;
}

.without-secondary-menu .region-header
{
    margin-top:0px;
    margin-right:0px;
}


#page
{
     background: url(../../../sites/default/files/bg-pixels.jpg)  50% 0% repeat-x transparent !important;
}

#page-wrapper, #footer-wrapper
{
    background-color:#FFFFFF !important;
}

#footer-wrapper
{
    padding-top:0px;
}

#footer li a
{
    color:#000000;
    border-right:thin solid #000000 !important;
}

#footer li a:hover
{
    color:#DDDDDD;
}

#centrum-footer .wrapper .copy
{
    color:#000000;
}

.section
{
    padding:0 !important;
}

#main-wrapper
{
    background-color:transparent !important;
}

#block-block-1
{
    margin-top:10px;
    z-index:2;
    position:relative;
}

#block-block-2
{
    margin-top:-100px;
    z-index:1;
    position:relative;
}

h1#page-title
{
    display:none;
}

.breadcrumb
{
    display:none;
}


/* Centrum Advance Page */
.page-wrapper
{
    position:relative;
    display:block;
    padding-top:10px;
}

.page-content .left, .page-content .right
{
    display:block;
    position:relative;
    float:left;
}

.page-content .left
{
    padding: 2%;
    width: 56%;
}

.page-content .right
{
    width: 40%;
}



.page-content h4
{
    color:#dd1e0f;
    font-weight:bold;
    font-size:15px;
}

.centrum-banner
{
    display:block;
    position:relative;
    width:913px;
    height:381px;
    margin:0 auto;
    background: url(../../../sites/default/files/images/centrum-cardio-banner.jpg)  0% 0% no-repeat transparent !important;
}

.left .benefits-desc
{
    display:block;
    position:relative;
    float:left;
    width:100%;
    margin:0px;
    padding:0px;
}



.left .desc-left
{
    width:45%;
    padding-right:5%;

}

.left .desc-right
{
    width:45%;
    padding-left:5%;
    
}

.benefits-desc p
{
    text-align:justify;
}

#benefits
{
    display:block;
    position:relative;
    overflow:hidden;
}

.benefit-row
{
    position:relative;
    display:block;
    overflow:hidden;
}

.benefit-points
{
    display:block;
    position:relative;
    width:49%;
    padding-right:1%;
    float:left;
    overflow:hidden;
    height:auto;
}

.benefit-points .benefit-icon
{
    display: block;
    float: left;
    position: relative;
    width: 40%;
}

.benefit-points .benefit-icon img
{
    display: block;
    margin: 0 auto;
    position: relative;
}

.benefit-points .benefit-point-desc
{
    display: block;
    float: left;
    position: relative;
    width: 60%;
}


.benefit-points .benefit-point-desc p
{

}


.feature-nav ul
{
    display:block;
    width:297px;
    position:relative;
    list-style-type:none;
    margin:0;
    padding:0;
    float:right;
}

.feature-nav ul li
{
    height:47px;
}

.feature-nav ul li a
{
    background: url("../../../sites/default/files/images/product-button.png") no-repeat scroll 0 0 transparent !important;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 95%;
    height: 47px;
    padding: 14px 0 0 25px;
    width: 297px;
}

.feature-nav ul li a.active
{
    background: url(../../../sites/default/files/images/product-button-active.png)  0% 0% no-repeat transparent !important;
}

.feature-nav ul li a.new
{
    background: url(../../../sites/default/files/images/product-button-new.png)  0% 0% no-repeat transparent !important;
}

.feature-nav a.choose-supplement
{
    display:block;
    background: url(../../../sites/default/files/images/choose-supplement.png) 0% 0% no-repeat transparent;
    width:280px;
    height:121px;
    float:right;
}

ul.nav
{
    display:block;
    position:relative;
    list-style-type:none;
    margin:0 !important;
    padding:0 !important;
}

ul.nav li
{
    float:left;
    margin:0 3px;
}

ul.nav li.first
{
    margin-left:0px;
}

.benefits-formula
{
    clear:both;
}

.benefits-formula ul.nav li a
{
    display:block;
    position:relative;
    width:175px;
    height:28px;
    text-align:center;
    color:#FFFFFF;
    padding-top:10px;
    border-radius: 8px 8px 0 0;
}

.benefits-formula ul li a.benefits
{
    background-color:#0e7da5;
    
}

.benefits-formula ul li a.formula
{
    background-color:#008053;
}

.bf-content
{
    clear:both;
    border:medium solid #0e7da5;
    padding:10px;
}

table.formula
{
    background-color:transparent !important;
}

table.formula tbody
{
     background-color:transparent !important;
     border:none;
}

table.formula tr
{
    background-color:transparent !important;
}

table.formula tr td
{
    max-width:100px;
    min-width:100px;
    border:none;
    background-color:transparent !important;
}


/* Centrum Product Range Page */

.centrum-range-slider
{
    padding-top:10px;
}

.centrum-range-slider .theme-default .nivo-controlNav
{
    margin-top:-66px;
    position:relative;
    z-index:999999;
}

h4.blue-arrow
{
    background: url(../../../sites/default/files/images/blue-arrow-right.png) no-repeat transparent;
    display:block;
    width:276px;
    height:auto;
    color:#FFFFFF;
    padding:10px;
    font-weight:120%;
    font-family:Arial;
}

.product-content
{
    background-color:#eeeeee;
    margin:0 15px;
    padding:0 !important;
    width:60% !important;
    margin:0;
}

.product-content-left
{
    width:61% !important;
    padding:2% !important;
}

.product-content-right
{
    width:35% !important;
}

.product-content h4.blue-arrow
{
    margin:10px 0 0 0px;
}

.product-article
{
    padding:20px;
}

.product-row
{
    display:block;
    position:relative;
    margin-bottom:20px;
    overflow:hidden;
    border-bottom:medium dotted #FFFFFF;
}

.product-row .product-image
{
    display:block;
    width:30%;
    position:relative;
    float:left;
}

.product-row .product-desc
{
    display:block;
    width:70%;
    position:relative;
    float:left;
}

.product-row .product-desc h3
{
    margin-top:0px;
    font-family:Arial;
    color:#1d6fae;
    margin-bottom:0px;
}

a.learn-more
{
    color:#FFFFFF;
    font-weight:bold;
    font-family:Arial;
    display:block;
    position:relative;
    width:123px;
    height:37px;
    background: url(../../../sites/default/files/images/orange-button-right.png) no-repeat transparent;
    padding:5px 0 5px 10px;
    
}

a.learn-more:hover
{
    text-decoration:none;
    color:#CCCCCC;
}

.product-desc a.learn-more
{
    float:right;
}

/* Health Centre Page */


.one-sidebar #content
{
    width:70%;
}

#sidebar-first, #sidebar-second
{
    float:right;
}

body.node-type-centrum-article-category  #page-wrapper #page #header .section
{
    display: block;
    padding-bottom: 30px !important;
    position: relative;
}
 
.health-centre-slider
{
    padding-top:10px;
    background-color:#FFFFFF;
}

.health-centre-slider .theme-default .nivo-controlNav
{
    margin-top:-66px;
    position:relative;
    z-index:999999;
}

.node-centrum-article-category
{
    padding:0 30px 0px 30px !important;
    margin-bottom:0px !important;
    border-bottom:none !important;
    
}

.node-centrum-article-category h2
{
    background: url("../../../sites/default/files/images/orange-arrow.png") no-repeat scroll 0 60% transparent;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 0.5em;
    
}

.node-centrum-article-category h2 a
{
    color:#dd1e0f !important;
    border-bottom: thin dotted #dd1e0f;
    text-decoration:none !important;
}

.node-centrum-article-category h2 a:hover
{
    text-decoration:none !important;
    color:#f7786e !important;
}

.node-centrum-article-category .link-wrapper
{
    display:none;
}

.node-centrum-article-category .meta
{
    display:none;
}

.node-centrum-article-category .field-item p
{
    padding-left: 20px;
}

/* Taxonomy Override */
.taxonomy-term-description
{
    display:none;
}

/* Articles Block OVerride */

#block-views-centrum-articles-block
{
    margin-bottom:0px !important;
    background-color:#FFFFFF !important;
    border-color:#DDDDDD;
    padding-top:0px;
}

#block-views-centrum-articles-block h2
{
    background: url("../../../sites/default/files/images/h-arrow-left.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 130%;
    height: 49px;
    margin-left: -55px;
    padding: 10px 35px 0px 35px;
    margin-bottom:0px;
    position: relative;
    width: 273px;
    border:none !important;
}

/* Articles Block OVerride */
#block-views-centrum-articles-block ul
{
    list-style:none;
    
}

#block-views-centrum-articles-block ul li
{
    border-bottom:thin dotted #555555;
    padding: 10px 0px;
}

#block-views-centrum-articles-block ul li a
{
    color:#666666 !important;
}

#block-views-centrum-articles-block ul li a.active
{
    color:#0089cf !important;
}

#block-block-4
{
    padding:0px !important;
    background-color:transparent !important;
    border-color:transparent !important;
}

/* Node Context */

body.node-context #main
{
    /* padding: 30px 0 !important; */
    padding: 30px 0;
}

/* block Related Articles */
#block-views-related-articles-block
{
    background-color:#f5f5f5;
    overflow:hidden;
    padding-bottom:20px;
    
}

#block-views-related-articles-block h2
{
    font-family:Arial;
    font-size:14px;
    padding:10px 20px;
}

#block-views-related-articles-block .content .view .view-content .views-row
{
    
    display:block;
    position:relative;
    width:25%;
    float:left;
    text-align:center;
}

/* Prev and Next Links */
ul.flippy
{
    display:block;
    position:relative;
    width:100%;
    clear:both;
    overflow:hidden;
    height:auto;
    padding:0px 0 10px 0!important;
    margin:10px auto  20px auto !important;
    border-bottom: medium solid #555555;
}

ul.flippy li
{
    /* float:left; */
    padding:0px !important;
    
}

ul.flippy li a
{
    color:#dd1e0f;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:0px 15px;
}

ul.flippy li.previous
{
    background: url("../../../sites/default/files/images/prev-arrow.png") no-repeat scroll 0 50% transparent;
    display: block;
    padding-left: 3% !important;
    position: relative;
    text-align: left;
    width: 47%;
    float:left;
    
}

ul.flippy li.next
{
    background: url("../../../sites/default/files/images/next-arrow.png") no-repeat scroll 100% 50% transparent;
    display: block;
    padding-right: 3% !important;
    position: relative;
    text-align: right;
    width: 47%;
    float:right;
}

/* Centrum related articles Pager nav */
.centrum-related-articles .view-content .views-row .views-field-title span a
{
    font-family:Arial;
    font-size:10px;
    color:#777777;
}

ul.pager
{
    
}

ul.pager li
{

}

ul.pager li a
{
    color:#dd1e0f;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
}